name: Build Lakhya App

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      # --- CLEANER STEPS ---
      - run: rm -rf node_modules
      - run: rm -f package-lock.json
      - run: npm install @capacitor/core@6 @capacitor/cli@6 @capacitor/android@6 --force
      # ---------------------

      - run: npx cap sync

      # Fix Permissions & Build
      - run: cd android && chmod +x gradlew && ./gradlew assembleDebug

      # Upload the APK
      - uses: actions/upload-artifact@v4
        with:
          name: lakhya-apk
          path: android/app/build/outputs/apk/debug/app-debug.apk